<div id="wrapper">
  <!--flash message -->


      <div id="main-wrapper" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">

        <% @posts.each do |post| %>
              <div class="page-header col-xs-12">
                  <div class="blog-num">Blog NO.<%= post.id %> - <%= post.created_at.strftime("%d %b %y") %></div>
                  <div class="title"><%= link_to post.title, post_path(post) %></div>
              </div>
              <section>
                <p><i>Author: Akiko T.</i></p>
                <%= post.content %></section>
              <br>
              <hr>
        <% end %>
        
          
                 
        </div>
    
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 footer">
           <div class="nav navbar-nav"><a href="">Twitter</a><a href="">Linkedin</a><a href="">Github</a></div>
        </div>
</div>
 